
 <%= form_with model: post do |f| %>
    <%= attachment_image_tag post, :post_image, id: :img_prev, fallback: "no_image.jpg", size:"300x300" %>
    <%= f.attachment_field :post_image, id: :image %>
  <p>説明</p>
    <%= f.text_area :body %>
 <p>タグ 複数の場合は半角の空欄を入れてください</p>

    <%= f.text_field :tag_name,value: tag_list %>

<p>撮影場所（国）</p>
<%= f.country_select :country, priority_countries: ["JP"] %>


<p>撮影日（年/月）</p>
  <%= f.date_select(
        :shooting_date,
        use_month_numbers: true,
        start_year: 2000,
        discard_day:true,
        end_year: (Time.now.year - 0),
        default: Date.new(2020, 1, 1),
        date_separator: '/') %>

  <div>
   <!-- 評価 -->
  <div class="form-group" id="star">
<p>オススメ度　<strong style="color:red">必須</strong></p>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>
  <div class="pull-left">
    <%= f.submit "保存", class: "btn btn-primary"%>
  </div>

<% end %>


  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[rate]',
    half: true,
  });
  </script>

<!-- アップロードしたばかりの画像のプレビューを表示する-->
<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#image").change(function(){
   readURL(this);
 });
});
</script>