
 <%= form_with model: post, local: true do |f| %>
 <%= render 'layouts/error',model: f.object %>
    <%= attachment_image_tag post, :post_image, id: :img_prev, fallback: "no_image.jpg", class: "update-img" %>
    <%= f.attachment_field :post_image, id: :image %>


<div class="resultArea hidden">
    <!--- ラベル検出の結果を表示 --->
    <table id="resultTable">
        <thead><tr><td>写真から場所を検索すると...</td></tr></thead>
        <tbody id="resultBox"></tbody>
    </table>
</div>


  <p class="margin-top">説明</p>
    <%= f.text_area :body, class: "form-control"  %>
 <p class="margin-top">タグ (複数の場合は半角の空欄を入れてください)</p>

    <%= f.text_field :tag_name,value: tag_list, class: "form-control"  %>

<p class="margin-top">エリア <strong style="color:red">必須</strong></p>

<%= f.select :area, Post.areas_i18n.keys.map { |k| [Post.areas_i18n[k], k]},{},{class: "form-control"} %>


<div class="spot margin-top">
  <%= f.fields_for :spot do |s| %>
    <%= s.label :address, "場所(Google Mapで検索)", class: 'spot__title' %> <strong style="color:red">必須</strong>
    <%= s.text_field :address, placeholder: "スポットを入力", id: "address", class: 'spot__text form-control' %>

  <% end %>
  <input onclick= "codeAddress()" type= "button" value= "検索する" class="btn-xs btn btn-success"></input>
  <div class= "map" id= "map", style= "height: 320px; width: 450px;" ></div>
</div>



<p class="margin-top">撮影時期（年/月）<strong style="color:red">必須</strong></p>
  <%= f.date_select(
        :shooting_date,
        use_month_numbers: true,
        start_year: 2020,
        discard_day:true,
        end_year: 2000,
        prompt:"--",
        date_separator: '/') %>

  <div>
   <!-- 評価 -->
  <div class="form-group margin-top" id="star">
    <p>オススメ度　<strong style="color:red">必須</strong></p>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>
  <div class="pull-left">
    <%= f.submit "保存する", class: "btn btn-primary btn"%>
  </div>

<% end %>


  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[rate]',
    half: true,
  });
  </script>

<!-- アップロードしたばかりの画像のプレビューを表示する-->
<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#image").change(function(){
   readURL(this);
 });
});
</script>

